$font-stack: 'Avenir', Helvetica, sans-serif;
$primary-color: #2c3e50;

@mixin font-smoothing($value: on) {
    @if $value == on {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}

#app {
    @include font-smoothing(on);
    font: 100% $font-stack;
    color: $primary-color;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
}

.voter-alert-message {
    margin-top: 1em;
    max-width: 30em;
}

footer {
    font-size: 80%;
    font-style: italic;
}

/*
 * Make carousel arrows black
 */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-item img {
    max-height: 600px;
    object-fit: contain; /* keep aspect ratio */
}

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
